{% extends "base.html" %}

{% block title %}Cinovates - Developers{% endblock %}

{% block content %}
<br><br><br>
<div class="contact-section">
    <h2>Contact the Developers</h2>
    <div class="developer-info">
        <div class="developer-card middle-developer">
            <img src="https://avatars.githubusercontent.com/u/100711330?v=4" alt="Hitesh Gottapu">
            <h3>Hitesh Gottapu</h3>
            <p>AI and Computer Vision Specialist</p>
            <div class="contact-links">
                <a href="https://www.youtube.com/@Digisphere_s" target="_blank"><i class="fab fa-youtube"></i></a>
                <a href="https://www.instagram.com/__hitesh__simha__/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://x.com/HiteshGottapu" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="mailto:hiteshgottapu@gmail.com"><i class="fas fa-envelope"></i></a>
                <a href="https://hiteshgottapuprotfolio.netlify.app/" target="_blank"><i class="fas fa-briefcase"></i></a>
                <a href="tel:8145063309"><i class="fas fa-phone"></i></a>
                <a href="https://www.linkedin.com/in/hitesh-data-scientist" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://github.com/Hiteshgottapu/" target="_blank"><i class="fab fa-github"></i></a>
            </div>
        </div>
        <div class="developer-card middle-developer">
            <img src="https://avatars.githubusercontent.com/u/100593255?v=4" alt="Jaswanth Kollipara">
            <h3>Jaswanth Kollipara</h3>
            <p>Python and Flask Specialist</p>
            <div class="contact-links">
                <a href="https://www.youtube.com/@jassugec8106" target="_blank"><i class="fab fa-youtube"></i></a>
                <a href="https://www.instagram.com/jaswanthkollipara/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://x.com/K_Jaswanth3" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="mailto:kjaswanth28@gmail.com"><i class="fas fa-envelope"></i></a>
                <a href="https://sites.google.com/view/jaswanth-kollipara" target="_blank"><i class="fas fa-briefcase"></i></a>
                <a href="tel:9959707255"><i class="fas fa-phone"></i></a>
                <a href="https://www.linkedin.com/in/jaswanthkollipara/" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://github.com/jaswanthgec" target="_blank"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
